# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Rick and Morty API Configuration
RICK_AND_MORTY_API_BASE_URL=https://rickandmortyapi.com/api

# Application Configuration
DEFAULT_PAGE=1
DEFAULT_LIMIT=10
MAX_LIMIT=50
